.main {
  padding: 0 5%;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 845px;
}

.link__back {
  text-decoration: none;
  color: var(--accentColor);
  display: flex;
  align-items: center;
}
.link__left_arrow {
  width: 1rem;
  margin-right: 0.5rem;
}
.user__details_title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}
.user__details_info {
  color: var(--grayishText);
  margin-top: 0.5rem;
  font-size: calc(1rem - 3px);
}

@media (min-width: 450px) {
  .user__details_wrapper {
    border: 1px solid var(--lightGray);
    border-radius: var(--br);
    padding-left: 45px;
    padding-bottom: 42px;
    margin-top: 1rem;
  }
}
