.main__content {
  width: 90%;
  margin: 1em auto 0;
  max-width: 337px;
}
.p__dark {
  font-size: 18px;
  font-weight: 600;
  color: var(--darkText);
  padding-right: 0.5rem;
}
.form {
  display: grid;
  grid-auto-flow: row;
  gap: 1.4em;
  padding-top: 1rem;
}
.label {
  border-radius: var(--brSmall);
  border: 1px solid var(--primaryColor);
  display: flex;
  align-items: center;
  padding: 0.15rem;
}
.label:focus-within {
  border: 1px solid var(--darkText);
}
.input {
  padding: 0.82rem 0;
  padding-left: 0.4rem;
  border: none;
  flex-grow: 1;
  color: var(--grayishText);
  background-color: var(--background);
}
.input:focus {
  outline: none;
}
.icon__wrapper {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.25rem;
}
.icon__wrapper svg {
  flex-grow: 1;
  width: 50%;
  height: 50%;
  fill: var(--grayishText);
}
.btn__submit {
  padding: 0.5rem 0;
  border: none;
  background-color: var(--accentColor);
  color: #ffffff;
  font-weight: 600;
  border-radius: var(--brSmall);
  cursor: pointer;
}
.p__info {
  margin-top: 2rem;
  text-align: center;
  color: var(--grayishText);
  font-size: 14px;
}
.social__list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, min-content);
  justify-items: center;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: auto;
}
.social__list_item {
  border: 1px solid var(--grayishText);
  border-radius: 50%;
  width: calc(2.5rem + 1vw);
  height: calc(2.5rem + 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__list_item:hover {
  border-color: var(--accentColor);
}
.social__list_link {
  color: var(--grayishText);
  text-decoration: none;
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__list_link svg {
  width: 70%;
  height: 70%;
}
.social__list_item:hover svg {
  fill: var(--accentColor);
}
.p__info_action {
  text-align: center;
  color: var(--grayishText);
  margin-top: 1.7rem;
}
.nav__link {
  text-decoration: none;
  color: var(--accentColor);
}
@media (min-width: 450px) {
  .main__wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 437px;
    place-content: center;
  }
  .main {
    border: 1px solid var(--primaryColor);
    border-radius: var(--brLarge);
    padding-top: 1em;
    max-width: 437px;
  }
}
